header div nav h1, h3 {
    color: blue;
    background-color: beige;
    font-family: ser;
    margin: 100;
    padding: 100;
    text-align: center;
}

main {
    color: black;
    font-family: sans-serif;
    font-size: medium;
    background-color: beige;
    text-align: center;
}

footer div nav p {
    color: whitesmoke;
}

img {
    height: 300px;
}
